@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-code: #222121;
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(222.2, 84%, 4.9%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(222.2, 84%, 4.9%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(222.2, 84%, 4.9%);
    --primary: hsl(221.2, 83.2%, 53.3%);
    --primary-foreground: hsl(210, 40%, 98%);
    --secondary: hsl(210, 40%, 96.1%);
    --secondary-foreground: hsl(222.2, 47.4%, 11.2%);
    --muted: hsl(210, 40%, 96.1%);
    --muted-foreground: hsl(215.4, 16.3%, 46.9%);
    --accent: hsl(210, 40%, 96.1%);
    --accent-foreground: hsl(222.2, 47.4%, 11.2%);
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(210, 40%, 98%);
    --border: hsl(214.3, 31.8%, 91.4%);
    --input: hsl(214.3, 31.8%, 91.4%);
    --ring: hsl(221.2, 83.2%, 53.3%);
  }

  :root[data-mantine-color-scheme='dark'] {
    --background-code: #1a202c;
    --background: hsl(222.2, 84%, 4.9%);
    --foreground: hsl(210, 40%, 98%);
    --card: hsl(222.2, 84%, 4.9%);
    --card-foreground: hsl(210, 40%, 98%);
    --popover: hsl(222.2, 84%, 4.9%);
    --popover-foreground: hsl(210, 40%, 98%);
    --primary: hsl(217.2, 91.2%, 59.8%);
    --primary-foreground: hsl(222.2, 47.4%, 11.2%);
    --secondary: hsl(217.2, 32.6%, 17.5%);
    --secondary-foreground: hsl(210, 40%, 98%);
    --muted: hsl(217.2, 32.6%, 17.5%);
    --muted-foreground: hsl(215, 20.2%, 65.1%);
    --accent: hsl(217.2, 32.6%, 17.5%);
    --accent-foreground: hsl(210, 40%, 98%);
    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(210, 40%, 98%);
    --border: hsl(217.2, 32.6%, 17.5%);
    --input: hsl(217.2, 32.6%, 17.5%);
    --ring: hsl(224.3, 76.3%, 48%);
  }
}

@layer utilities {
  /* Text */
  .h1-bold {
    @apply text-[36px] font-bold leading-[140%];
  }

  .h1-semibold {
    @apply text-[36px] font-semibold leading-[140%];
  }

  .h2-bold {
    @apply text-[30px] font-bold leading-[140%];
  }

  .h2-semibold {
    @apply text-[30px] font-semibold leading-[140%];
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%];
  }

  .h3-semibold {
    @apply text-[24px] font-semibold leading-[140%];
  }

  .h3-regular {
    @apply text-[24px] font-normal leading-[140%];
  }

  .h4-bold {
    @apply text-[20px] font-bold leading-[140%];
  }

  .h4-semibold {
    @apply text-[20px] font-semibold leading-[140%];
  }

  .h4-regular {
    @apply text-[20px] font-normal leading-[140%];
  }

  .h5-regular {
    @apply text-[17px] font-normal leading-[140%];
  }

  .h5-bold {
    @apply text-[17px] font-bold leading-[140%];
  }

  .h5-semibold {
    @apply text-[17px] font-semibold leading-[140%];
  }

  .h5-regular {
    @apply text-[17px] font-normal leading-[140%];
  }

  .base-bold {
    @apply text-[15px] font-bold leading-[140%];
  }

  .base-semibold {
    @apply text-[15px] font-semibold leading-[140%];
  }

  .base-medium {
    @apply text-[15px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[15px] font-normal leading-[140%];
  }

  .small-bold {
    @apply text-[12px] font-bold leading-[140%];
  }

  .small-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .small-medium {
    @apply text-[12px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[12px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .subtle-medium {
    @apply text-[12px] font-medium leading-[140%];
  }

  /* Invert */
  .invert-white {
    @apply brightness-0 invert transition;
  }

  .invert-black {
    @apply brightness-100 invert transition;
  }

  /* Flex */
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-around {
    @apply flex items-center justify-around;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  /* Custom scrollbar background*/
  .custom-scrollbar-bg::-webkit-scrollbar {
    width: 1px;
    height: 0px;
    border-radius: 3px;
  }

  .custom-scrollbar-bg::-webkit-scrollbar-thumb {
    background: hsl(var(--foreground));
    border-radius: 50px;
  }

  .custom-scrollbar-bg::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--foreground));
  }

  /* Custom scrollbar foreground*/
  .custom-scrollbar-fg::-webkit-scrollbar {
    width: 1px;
    height: 0px;
    border-radius: 3px;
  }

  .custom-scrollbar-fg::-webkit-scrollbar-thumb {
    background: hsl(var(--background));
    border-radius: 50px;
  }

  .custom-scrollbar-fg::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--background));
  }

  /* Custom scrollbar none*/
  .custom-scrollbar-none::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text1);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
  }
}

.tiptap {
  > * + * {
    margin-top: 0.75em;
  }

  a {
    color: var(--blue1);
    cursor: pointer;
    text-decoration: underline;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
    font-size: revert;
    font-weight: bold;
  }

  pre {
    background: var(--background-code);
    color: whitesmoke;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}
